<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css'| absolute_url}}" >

    <!-- Bootstrap -->
    <link href="{{ '/assets/css/bootstrap.min.css' | absolute_url}}" rel="stylesheet">

    <!-- search console -->
    <meta name="google-site-verification" content="-j1Z5DX86X2UPsoC0B6MS4GnC3rWAsCYTGDUZIoqwME" />

    {% seo %}
</head>